@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url(/assets/background.png);
    background-size: 100%;
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.input-group {
    margin-top: 8%;
    margin-left: 30%;
}

#icon {
    width: 18px;
    height: 19px;
    margin-top: -12%;
    margin-left: 93%;
}

.form-control {
    border: 1px solid black;
    width: 700px;
    height: 58px;
    border-radius: 50px;
}

.card {
    margin: 2%;
    background: none;
    border: none;
}

.card-body {
    text-align: justify;
}

.card-title {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.card-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#tulisan {
    color: blue;
}

#link {
    text-decoration: none;
}