body
{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.picture
{
    width: 100%;
    height: 30vh;
    position:absolute;
    display: flex;
    transform:none;
}

li {
    display: inline;

}

span {
    display: block;

}


.tahapan
{
    align-items:end
    display:flex;
    width: 100%;
    height: 99vh;
    position: relative;
    top: 90px;
}

.tahapan-desc
{
    text-align: justify;
    margin: 5% 5%;
    top: auto;
}
